.rowpost{
    background-color: #202020;
    text-align: start;
    width: 100%;
    padding-left: 100px;
    /* padding-top: 10px; */
    padding-bottom: 10px;
    scroll-behavior: smooth;
}
.row-title{
    color: #fff;
    margin-top: 50px;
    font-size: 25px;
}
.poster-box{
    display: flex;
    overflow-x: scroll;
    padding-top: 20px;
}
.poster-box::-webkit-scrollbar{
    background-color:  #161414;
    height: 10px;
    border-radius: 5px;
    padding-bottom: 200px;
  }
.poster{
    border-radius: 5px;
    height: 210px;
    margin-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}
.poster-small{
    border-radius: 5px;
    height: 180px;
    margin-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}
.poster:hover{
    transform: scale(1.1);
    transition: 0.1s;
}
.poster-small:hover{
    transform: scale(1.1);
    transition: 0.1s;
}
